<h2>Edit Post</h2>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit(editForm)">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <input matInput formControlName="content">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <button mat-raised-button >Save</button>
</form>
